.frameworks{
    display: flex;
    flex-direction: column;
    min-height: 25vh;
    background-color: beige;

}

.frameworks .frameworks-list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}