.intro {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    background-image: url("../assets/beige-abstract-wallpaper-background-image.jpg");
    min-height: 100vh;
    width: 100%;
}

.intro > * {
    padding-left: 2rem;
}

.intro h1{
    font-size: 10em;
    font-weight: 700;
}

.intro h2{
    font-size: 5em;
    font-weight: 600;
}
