.NavBar{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 60px;
    position: fixed;
    top: 0;
    background-color: whitesmoke;
}
.NavBar-center .nav-links {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.NavBar-center .nav-links li {
    margin-left: 2rem;
    margin-right: 2rem;
}

.NavBar-center .nav-links a {
    color: #35342f;
    font-size: 1.2rem;
    text-decoration: none;
    display: inline-block;
    position: relative;
    transition: 0.25s ease-out;
}
.NavBar-center .nav-links a:hover {
    font-weight: 700;
    transition: 0.25s ease-out;
}

.NavBar-center .nav-links a::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    border-radius: 5px;
    height: 0.2em;
    bottom: 0;
    left: 0;
    background: currentcolor;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}
.NavBar-center .nav-links a:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}
.navbar-mobile {
    display: none;
    cursor: pointer;
}
.bar{
    height: 2px;
    width: 27px;
    background: #000000;
    margin: 5px 0;
    opacity: 0.8;
}

@media (max-width: 600px) {
    .NavBar{
        flex-direction: column;
        align-items: flex-end;
    }
    .navBar-center{
        position: fixed;
        top:60px;
        background-color: whitesmoke;
        width:100%;
        padding: 10px 0 25px;
    }

    .NavBar-center .nav-links{
        flex-direction: column;
        align-items: center;
        row-gap: 25px;
        display: none;
    }

    .navbar-mobile{
        display: block;
        padding-right: 20px;
    }

}