.projects {
    min-height: 80vh;
    height: auto;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.projects .projects-main {
    padding-left: 10px;
    padding-right: 10px;
    min-width:300px;
    min-height: 60vh;
    display: flex;
    flex-direction: column;
    flex: 1;
}



.projects .projects-main p{
    font-size: 1.2em;
}

.projects .projects-sum-list{
    display: flex;
    flex: 1;
    flex-direction: column;
    min-height: 60vh;
    min-width: 300px;
}